/* ----- GENERAL ------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.wrapper {
    width: 800px;
    height: 500px;
    position: relative;
}

/* ---- CHEVRON ---- */
.wrapper a .fa-chevron-left,
.wrapper a .fa-chevron-right {
    position: absolute;
    top: 50%;
    font-size: 200%;
    color: black;
}
.wrapper .fa-chevron-left {
    left: -28px;
}
.wrapper .fa-chevron-right {
    right: -28px;
}

/* ---- IMAGES ----- */
.wrapper .images {
    height: 100%;
    width: 100%;
}
.wrapper .images img {
    display: none;
    height: 100%;
    width: 100%;
}
.wrapper .images img.active {
    display: inline-block;
}

/* ----NAV---- */
.wrapper nav {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
}
.wrapper nav a {
    text-decoration: none;
}
.wrapper nav a i {
    font-size: 150%;
    margin: 20px 20px;
    color: blue;
}
.wrapper nav a i.active {
   font-weight: 900;
}


